
.face-analysis-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    padding: 0; /* No padding */
    margin-bottom: 0; /* No margin */
}

.title-text {
    text-align: left; /* Align text to the left */
    margin-bottom: 16px;
    width: 100%; /* Ensures it uses the full width for alignment */
    padding: 0 16px; /* Optional: adds some horizontal padding */
}

.analysis-image {
    display: block; /* Make the image a block element */
    margin: 0 16px; /* Add space on the left and right */
    max-width: calc(100% - 32px); /* Ensure it doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
}

.instructions-heading {
    text-align: left; /* Align the heading to the left */
    width: 100%; /* Ensures full width */
    padding: 0 16px; /* Optional: adds some horizontal padding */
    margin-top: 16px; /* Optional: space above the heading */
    font-family: "Open Sans", sans-serif; /* Explicit font declaration */
}

.instructions-list {
    list-style-type: decimal;
    padding-left: 20px;
    margin-bottom: 16px;
    text-align: justify; /* Justify the text */
    padding: 0 16px; /* Space on left and right */
    margin: 0 auto; /* Center the list */
    width: 90%; /* Control the width */
    font-family: "Open Sans", sans-serif; /* Explicit font declaration */
}

.instructions-list li {
    margin: 8px 0; /* Small space between each list item */
}

.ion-tabbar {
    margin-top: 0; /* Remove any default margin */
}

.justified-text {
    text-align: justify; /* Justify the text */
    margin-bottom: 16px; /* Optional: space below the paragraph */
    font-family: "Open Sans", sans-serif; /* Explicit font declaration */

}

.headline-name {
    font-family: "Open Sans", sans-serif; /* Explicit font declaration */
}